@use "variables" as *;


@mixin button($bg-color, $text-color) {
    background-color: $bg-color;
    color: $text-color;
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
  }
  @mixin enlaces{
    color: $secundary-white;
    text-decoration: none;
  }
  @mixin listas{
    list-style: none;
  }
  @mixin justify-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }