@use "layout" as *;
@use "header" as *;
@use "footer" as *;
@use "globals" as *;
@use "mixins" as *;

main {
    background-image: url(../../assets/img/casa.JPG);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
   
    .caja{
        background: $primary-transp1;
        text-align: center;
        color:$secundary-white;
    }
    button{
        @include btn($secundary-white,$secundary-black);
        &:hover{
            background-color: $secundary-grey;
            border: 2px solid $secundary-grey;
        }
    }
    
   
}